[submodule "allclear/baselines/UnCRtainTS"]
	path = baselines/UnCRtainTS
	url = https://github.com/PatrickTUM/UnCRtainTS.git
[submodule "baselines/U-TILISE"]
	path = baselines/U-TILISE
	url = https://github.com/prs-eth/U-TILISE.git
[submodule "baselines/DiffCR"]
	path = baselines/DiffCR
	url = https://github.com/Zhou-Hangyu/DiffCR.git
[submodule "baselines/CTGAN"]
	path = baselines/CTGAN
	url = https://github.com/come880412/CTGAN.git
[submodule "baselines/STGAN"]
	path = baselines/STGAN
	url = https://github.com/VSAnimator/stgan.git
[submodule "baselines/PMAA"]
	path = baselines/PMAA
	url = https://github.com/XavierJiezou/PMAA.git
