[submodule "allclear/baselines/DiffCR"]
	path = allclear/baselines/DiffCR
	url = https://github.com/XavierJiezou/DiffCR.git
[submodule "allclear/baselines/UnCRtainTS"]
	path = allclear/baselines/UnCRtainTS
	url = https://github.com/PatrickTUM/UnCRtainTS.git
